body{
  background-color: #21252B !important;
  color: #fff !important;
}

.main-content{
  margin-top: 50px;
  margin-bottom: 50px;
}

.output-content{
  overflow-y: scroll;
  height: 500px;
  border: 1px solid rgba(255, 255, 255, .6);
  background-color: #282C34;
}

.error-content{
  color: #bf1919;
}

pre{
  color: #fff !important;
}

.btn{
  cursor: pointer;
}

.input-box textarea{
  width: 100%;
  height: 500px;
}
